.course_item {
  width: 260px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.course_item-img {
  overflow: hidden;
  margin-bottom: 20px;
}

.course_item-img img {
  width: 100%;
  object-fit: cover;
}

.course_item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 20px 10px;
}

.course_item-title p {
  margin: 0;
}

.course_item .ant-btn {
  border-color: var(--main-color);
}

.course_option {
  position: absolute;
  top: 8px;
  right: 2px;
  cursor: pointer;
}

.course_option_inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.course_option_inner p {
  margin: 0;
  cursor: pointer;
}
