.user {
  padding: 1%;
  flex: 1;
}

.user_container {
  background-color: white;
  border-radius: 5px;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* min-height: calc(100vh - 120px); */
}

.user_top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user_name {
  display: flex;
  flex-direction: column;
}

.user_name p {
  margin: 0;
}

.user_name .user_title {
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
}
